
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to root_path do%>
        <%= image_tag 'newlogo.png', height: 60%>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
             <%= link_to 'Profile', user_path(current_user.id) , class:'nav-link'%>
          </li>
          <li class="nav-item">
              <%= link_to 'Posts', root_path, class:'nav-link'%>
          </li>
          <li class="nav-item">
              <%= link_to 'Friends', users_path, class:'nav-link'%>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to saw_notice_path, :class => "text-white btn notice-btn-#{notification_seen}",
             data: {toggle: 'modal', target: '#noticeModal'}, method: :get, remote: true do %>
             <% if notification_seen %>
              <i class="fas fa-bell-slash"></i>
             <% else %>
              <i class="fas fa-bell"></i>
             <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
        <form>
           <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"btn btn-secondary"%>
        </form>
      </div>
      <%end%>
    </div>
  </nav>

<% if user_signed_in? && current_user.pending_requests == 0 %>
  <%= render 'shared/notifications', object: current_user.notifications %>
<% else %>
  <br>
<% end %>

