<!--
<p id="notice"><%= notice %></p>
-->

<p>
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-1"><img src="https://user-images.githubusercontent.com/65397514/102521890-27b33b00-409e-11eb-9024-9e06d655f1c0.png" width="50px" height="auto"></h5><br>
          <p class="card-text"><%= @post.postBody %></p>
          <small class="text-muted"><%= @post.created_at.strftime("Post created at %H:%M on %B %d, %Y") %></small>
          <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
          <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= button_to 'ðŸ’”', post_like_path(@post, pre_like), method: :delete, :class => "btn btn-outline-secondary"%>
          <% else %>
            <%= button_to 'â¤ï¸', post_likes_path(@post), method: :post, :class => "btn btn-outline-secondary"%>
          <% end %>
          <br>
          <%= link_to 'ðŸ”™', posts_path, :class => "btn btn-outline-secondary" %>
          <% if current_user && (@post.user_id == current_user.id) %>
          <%= link_to 'ðŸ–‹ï¸', edit_post_path(@post), :class => "btn btn-outline-secondary"%> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</p>

<div class="row justify-content-center">
<div class="col-sm-6">
<div class="card card-accent-dark mb-3 mx-auto" >
  <div class="card-header">Bragments Section</div>
  <div class="card-body text-secondary">
  <div class="col col-lg-9">
      <div class=""><%= render 'comments/comment', object: @post %></div>
    </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <%= render 'comments/form', object: @post %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">

  </div>
</div>
</div>
</div>